QWidget, QTabWidget::pane, QTabWidget::tab-bar {
    background-color: rgb(45, 45, 45);
}
QTabBar::tab {
    color: rgb(255, 255, 255);
    background-color: rgb(45, 45, 45);
    font-size: 12px;
    height: 25px;
    padding-left: 4px;
    padding-right: 4px;
    border-left: 2px;
    border-right: 2px;
    border-color: white;
}
QTabBar::tab:selected {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #1e5799, stop: 0.08 #2989d8, stop: 0.15 rgb(200, 200, 200));
    font-weight: bold;
    color: black;
}

QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #1e5799, stop: 0.01 #2989d8, stop: 0.10 rgb(45, 45, 45));
    color: #4F89CC;
}
